<ng-container *ngIf="items">
      <div class="row">
        <ng-template ngFor let-item [ngForOf]="items">
            <div class="col-lg-4">
                <div class="item-card">
                    <div class="col-lg-12">
                        <img [src]="item.thumb">
                        <div class="item-info"><b>{{item.name}}</b></div>
                        <div class="item-info"><b>{{item.price | number}} ($)</b></div>
                        <div class="col-lg-12">
                            <a class="item-foot" (click)="onOpenCart(cart,item)">
                                <i class="material-icons">add_shopping_cart</i>
                            </a>
                            <a class="item-foot" (click)="onWish(item)">
                                <i class="material-icons" *ngIf="wishList.includes(item.id)">
                                    favorite
                                </i>
                                <i class="material-icons" *ngIf="!wishList.includes(item.id)">
                                    favorite_border
                                </i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <ng-template #cart>
                <app-cart [product]="item" [ordered]="ordered" [modalRef]="modalRef"></app-cart>
            </ng-template>
        </ng-template>
      </div>
</ng-container>