<div class="col-lg-12 order">
    <p>Add To Cart</p>
    <div class="row">
        <div class="col-lg-4">
            <img class="item-thumb" [src]="product?.thumb">
        </div>
        <div class="col-lg-8">
            <table>
                <thead>
                    <tr>
                        <td colspan="2"><b>{{product?.name}}</b></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Quantity:</td>
                        <td><input type="number" min="0" [(ngModel)]="quantity" (change)="onChange()"></td>
                    </tr>
                    <tr>
                        <td>Total:</td>
                        <td>${{priceTotal | number}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2">
                            <button class="btn btn-primary" (click)="onAdd()">Add To Cart</button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>