.navbar {
    height: 45px;
    width: 100%;
    background-color: silver;
    &-right {
        font-weight: bold;
        span {
            margin-right: 15px;
            span {
                color: red
            }
        }
    }
}
.brand {
    font-weight: bold;
}
.user-form {
    padding-right: 20px;
    cursor: pointer;
}