<nav class="navbar">
    <div class="container">
        <span class="brand" [routerLink]="['/']"><b>Home</b></span>
        <div class="navbar-right">
            <span class="user-form" [routerLink]="['/User']">User</span>
            <span>Ordered: <span>{{cart?.length}}</span></span>
            <span>Total: <span>${{cart | count | number}}</span></span>
        </div>
    </div>
</nav>