<ng-container *ngIf="wishList">
    <ng-template ngFor let-item [ngForOf]="wishList" let-i="index">
        <div class="row">
            <div class="col-lg-2 wrap">
                <img class="item-thumb" [src]="item.thumb">
            </div>
            <div class="col-lg-8">
                <div class="item-description">{{item.description}}</div>
                <div class="item-price">US ${{item.price | number}}</div>
            </div>
            <div class="col-lg-2">
                <div class="item-time">
                    {{ item.order.timestamp | amTimeAgo }}
                </div> 
                <div class="item-remove" (click)="onRemove(i)">
                    Remove
                </div> 
            </div>
        </div>
    </ng-template>
</ng-container>