.item-thumb {
    width: 100%;
    height: 80%;
    margin-top: 10%;
}
.item-price {
    color: red;
    font-weight: bold;
}
.item-time {
    font-size: small
}
.item-remove {
    color: blue;
    cursor: pointer;
}
.wrap {
    border: 1px solid silver;
}