<form class="user-form">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputFirstName">First Name</label>
            <input type="text" class="form-control" id="inputFirstName" placeholder="First Name">
        </div>
        <div class="form-group col-md-6">
            <label for="inputLastName">Last Name</label>
            <input type="text" class="form-control" id="inputLastName" placeholder="Last Name">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail">Email</label>
            <input type="email" [(ngModel)]="user.email" name="Email" #Email="ngModel" email class="form-control" id="inputEmail" placeholder="Email">
            <p style="color: red" *ngIf="Email.errors?.email">Email is invalid</p>
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
        </div>
    </div>
    <div class="form-group">
        <label for="inputPhone">Phone</label>
        <input type="text" [(ngModel)]="user.phone" name="Phone" #Phone="ngModel" phone="CN" class="form-control" id="inputPhone" placeholder="1234 Main St">
        <p style="color: red" *ngIf="Phone.errors?.phone">Phone number is invalid</p>
    </div>
    <div class="form-group">
        <label for="inputAddress">Address</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="Apartment, studio, or floor">
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Notes</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Send Information</button>
</form>